#room-area {
  background-color: rgb(192,192,192);
  height: 100vh;
  text-align: left;
  padding-left: 40px;
  padding-top: 20px;
}

#room-list {
  padding: 5px;
  color: rgb(128,128,128);
}

#room-list:hover {
  cursor: pointer;
}

#message-area {
  padding: 10px;
}

#message-entry {
  position: fixed;
  bottom: 0;
}

#add-room-button {
  display: inline-block;
  vertical-align: middle;
}

#message-input {
  width: 1000px;
  padding: 10px;
}

#title {
  display:inline-block;
  margin-right: 40px;
  vertical-align: middle;
}
