#room-list {
  background-color: rgb(192,192,192);
  height: 100%
}

.container {
  min-height: 100%;
  overflow: hidden;
}

#message-area, #room-list {
  margin-bottom: -9999px;
  padding-bottom: 9999px;
}

#message-entry {
  position: fixed;
  bottom: 0;
}

#add-room-button {
  display: inline;
}

#message-input {
  width: 1000px;
  padding: 10px;
}

#room-list {
  margin-top: 10px;
}


html, body {
        height: 100%;
}
